/*
Style Sheet for Feature Page Template
*/

/*
Outter Most Wrapper for positioning the Page 
- Margin top and bottom with other components 
- Content Box arrange in column 
*/

.featurePageWrapper {

    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    padding: 10px 0px;

}

.featurePageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
Banner Wrapper for Feature Page Template 
- Extend full width of the banner 
*/
.featurePageWrapper>.bannerWrapper{
    width:100%;
    min-height: 50vh;
    background-size:cover; 
    background-repeat:no-repeat; 
    background-position:center; 
}


.featurePageWrapper>.bannerWrapper{
    display: flex;
    flex-direction: row;
    justify-content:center; 
    align-items: center; 
}

.bannerWrapper>.contentWrapper{
    min-height:100%;
}


/*
Content Wrapper for Feature Page Template 
- Control the width of the Content 
*/
.featurePageWrapper>.contentWrapper {
    flex-basis:100px;
    flex-grow:1; 
}

.bannerWrapper>.contentWrapper,
.featurePageWrapper>.contentWrapper {
    width: 90%;
    max-width: var(--contentMaxWidth);
}


/*
******************* Responsive Style ******************* 
*/

body.desktop .featurePageWrapper>.bannerWrapper>.contentWrapper,
body.desktop .featurePageWrapper>.contentWrapper {
    width: 70vw;
    max-width: var(--contentMaxWidth);
}


body.desktop .featurePageWrapper>.bannerWrapper,
body.tablet .featurePageWrapper>.bannerWrapper {
    min-height:35vh;
}