/*
Style Sheet for Feature Page Template
*/

/*
Outter Most Wrapper for positioning the Page 
- Margin top and bottom with other components 
- Content Box arrange in column 
*/

.featurePageWrapper {

    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    padding: 10px 0px;

}

.featurePageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
Banner Wrapper for Feature Page Template 
- Extend full width of the banner 
*/
.featurePageWrapper>.bannerWrapper{
    width:100%;
    background-size:cover; 
    background-repeat:no-repeat; 
    background-position:center; 

}


/*
Content Wrapper for Feature Page Template 
- Control the width of the Content 
*/

.featurePageWrapper>.contentWrapper {
    width: 90%;
    max-width: var(--contentMaxWidth);
    min-height: 90%;

}


/*
******************* Responsive Style ******************* 
*/
body.desktop .featurePageWrapper>.contentWrapper {
    width: 50%;
    min-height: 50%;
    max-width: var(--contentMaxWidth);
}